
          <script > document.write(el_fire(ev));</script>
        </tbody>
      </table>
</div>
</div>


</body>


<thead>\
							  <tr>\
								<th data-field='id'>Event Details</th>\
								<th data-field='name'> Date</th>\
								<th data-field='name'>Expected Audience</th>\
								<th data-field='price'>event Budget</th>\
								<th data-field='price'>Package  Starting </th>\
							  </tr>\
							</thead>\